<div class="col-md-4">

<h1>New Posts</h1>

<%= form_for @post, html: { class: "form-group" } do |f| %>
    Title: <%= f.text_field :title, class: 'form-control' %>
    <br>
    Content: <%= f.text_area :content, class: 'form-control' %>

    <%= label_tag 'Member' %>
    <%= f.fields_for :member, @post.member do |member_form| %>
        <%= member_form.text_field :title, class: 'form-control' %>
    <% end %>

    <br>
    <%= f.submit "Submit", class: 'btn btn-primary' %>
<% end %>
  
<%= console  %>
</div>
