<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
    <%= link_to 'Portfolio', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      <%= link_to 'Home', root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Posts', posts_path, class: 'nav-link' %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav mr-right">
      <li class="nav-item">
        <% if current_user %>
          <%= link_to 'Sign Out', destroy_user_session_path, class: 'nav-link', method: :delete %>
        
        <% else %>
         <li class="nav-item">
          <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
         </li>
         <li class="nav-item">
          <%= link_to 'Sing Up', new_user_registration_path, class: 'nav-link' %>
         </li>
        <% end %>
        
      </li>
    </ul>
  </div>
    </div>
  </nav>


    <div class="container">
      <div class="row">

        <div class="col-md-12">
          <% if flash[:notice] %>
        <div class="alert alert-success">
          <button class="close" data-dismiss="alert" name="button" type="button">&times;</button>
          <%= flash[:notice] %>
        </div>
        <% elsif flash[:error] %>
        <div class="alert alert-danger">
          <button class="close" data-dismiss="alert" name="button" type="button">&times;</button>
          <%= flash[:error] %>
        </div>
        <% elsif flash[:alert] %>
        <div class="alert alert-warning">
          <button class="close" data-dismiss="alert" name="button" type="button">&times;</button>
          <%= flash[:alert] %>
        </div>
        <% end %>
        </div>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
